In [2]:
import pandas as pd
import torch
from torch.utils.data import Dataset, DataLoader

### Initial EDA of the dataset

In [8]:
df = pd.read_excel("datasets\ebola-outbreaks-before-2014.xlsx")

print(df.head())

                       Year(s)                           Country  \
0   November 2012-January 2013                            Uganda
1           June-November 2012  Democratic Republic of the Congo
2            June-October 2012                            Uganda
3                     May 2011                            Uganda
4  December 2008-February 2009  Democratic Republic of the Congo

      Ebola subtype  Reported number of human cases  \
0       Sudan virus                               6
1  Bundibugyo virus                              36
2       Sudan virus                              11
3       Sudan virus                               1
4       Zaire virus                              32

   Reported number of deaths among cases  Reported % of deaths among cases
0                                      3                             0.500
1                                     13                             0.361
2                                      4                             0.364
3                                      1                             1.000
4                                     15                             0.470

<>:1: SyntaxWarning: invalid escape sequence '\e'
<>:1: SyntaxWarning: invalid escape sequence '\e'
C:\Users\rich4\AppData\Local\Temp\ipykernel_6772\1321044442.py:1: SyntaxWarning: invalid escape sequence '\e'
  df = pd.read_excel("datasets\ebola-outbreaks-before-2014.xlsx")

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 6 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year(s)                                33 non-null     object
 1   Country                                33 non-null     object
 2   Ebola subtype                          33 non-null     object
 3   Reported number of human cases         33 non-null     int64
 4   Reported number of deaths among cases  33 non-null     int64
 5   Reported % of deaths among cases       33 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.7+ KB
None

In [10]:
df = df.fillna(0)

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 6 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year(s)                                33 non-null     object
 1   Country                                33 non-null     object
 2   Ebola subtype                          33 non-null     object
 3   Reported number of human cases         33 non-null     int64
 4   Reported number of deaths among cases  33 non-null     int64
 5   Reported % of deaths among cases       33 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.7+ KB
None