In [2]:
import pandas as pd
import torch
from torch.utils.data import Dataset, DataLoader

### Initial EDA of the dataset

In [4]:
df = pd.read_excel("datasets\ebola-outbreaks-before-2014.xlsx")

print(df.head)

<>:1: SyntaxWarning: invalid escape sequence '\e'
<>:1: SyntaxWarning: invalid escape sequence '\e'
C:\Users\rich4\AppData\Local\Temp\ipykernel_6772\2613926323.py:1: SyntaxWarning: invalid escape sequence '\e'
  df = pd.read_excel("datasets\ebola-outbreaks-before-2014.xlsx")

<bound method NDFrame.head of                         Year(s)  \
0    November 2012-January 2013
1            June-November 2012
2             June-October 2012
3                      May 2011
4   December 2008-February 2009
5                      Nov 2008
6    December 2007-January 2008
7                          2007
8                          2004
9                          2004
10       November-December 2003
11     December 2002-April 2003
12      October 2001-March 2002
13      October 2001-March 2002
14                    2000-2001
15                         1996
16                         1996
17                         1996
18                         1996
19     1996-1997 (July-January)
20         1996 (January-April)
21                         1995
22                         1994
23                         1994
24                         1992
25                    1989-1990
26                         1990
27                         1989
28                         1979
29                         1977
30                         1976
31                         1976
32                         1976

                                              Country     Ebola subtype  \
0                                              Uganda       Sudan virus
1                    Democratic Republic of the Congo  Bundibugyo virus
2                                              Uganda       Sudan virus
3                                              Uganda       Sudan virus
4                    Democratic Republic of the Congo       Zaire virus
5                                         Philippines      Reston virus
6                                              Uganda  Bundibugyo virus
7                    Democratic Republic of the Congo       Zaire virus
8                                              Russia       Zaire virus
9                                 Sudan (South Sudan)       Sudan virus
10                              Republic of the Congo       Zaire virus
11                              Republic of the Congo       Zaire virus
12                              Republic of the Congo       Zaire virus
13                                              Gabon       Zaire virus
14                                             Uganda       Sudan virus
15                                             Russia       Zaire virus
16                                        Philippines      Reston virus
17                                                USA      Reston virus
18                                       South Africa       Zaire virus
19                                              Gabon       Zaire virus
20                                              Gabon       Zaire virus
21  Democratic Republic of the Congo (formerly Zaire)       Zaire virus
22                        Côte d'Ivoire (Ivory Coast)  Taï Forest virus
23                                              Gabon       Zaire virus
24                                              Italy      Reston virus
25                                        Philippines      Reston virus
26                                                USA      Reston virus
27                                                USA      Reston virus
28                                Sudan (South Sudan)       Sudan virus
29                                              Zaire       Zaire virus
30                                            England       Sudan virus
31                                Sudan (South Sudan)       Sudan virus
32     Zaire (Democratic Republic of the Congo - DRC)       Zaire virus

    Reported number of human cases  Reported number of deaths among cases  \
0                                6                                      3
1                               36                                     13
2                               11                                      4
3                                1                                      1
4                               32                                     15
5                                6                                      0
6                              149                                     37
7                              264                                    187
8                                1                                      1
9                               17                                      7
10                              35                                     29
11                             143                                    128
12                              57                                     43
13                              65                                     53
14                             425                                    224
15                               1                                      1
16                               0                                      0
17                               0                                      0
18                               2                                      1
19                              60                                     45
20                              37                                     21
21                             315                                    250
22                               1                                      0
23                              52                                     31
24                               0                                      0
25                               3                                      0
26                               4                                      0
27                               0                                      0
28                              34                                     22
29                               1                                      1
30                               1                                      0
31                             284                                    151
32                             318                                    280

    Reported % of deaths among cases
0                              0.500
1                              0.361
2                              0.364
3                              1.000
4                              0.470
5                              0.000
6                              0.250
7                              0.710
8                              1.000
9                              0.410
10                             0.830
11                             0.890
12                             0.750
13                             0.820
14                             0.530
15                             1.000
16                             0.000
17                             0.000
18                             0.500
19                             0.740
20                             0.570
21                             0.810
22                             0.000
23                             0.600
24                             0.000
25                             0.000
26                             0.000
27                             0.000
28                             0.650
29                             1.000
30                             0.000
31                             0.530
32                             0.880  >